body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.checkerboard {
  display: grid;
  grid-template-columns: repeat(8, 100px); /* 8 columns,  */
  grid-template-rows: repeat(8, 100px); /* 8 rows, */
}

.square {
  width: 100px; 
  height: 100px; 
}

/* Color every odd square in an odd row and every even square in an even row black */
.checkerboard .square:nth-of-type(8n+1),
.checkerboard .square:nth-of-type(8n+3),
.checkerboard .square:nth-of-type(8n+5),
.checkerboard .square:nth-of-type(8n+7) {
  background-color: black;
}

.checkerboard .square:nth-of-type(8n+2),
.checkerboard .square:nth-of-type(8n+4),
.checkerboard .square:nth-of-type(8n+6),
.checkerboard .square:nth-of-type(8n+8) {
  background-color: white;
}

/* Color pattern alternates for each new row  pattern repeats every 16 squares*/
.checkerboard .square:nth-child(16n+9),
.checkerboard .square:nth-child(16n+11),
.checkerboard .square:nth-child(16n+13),
.checkerboard .square:nth-child(16n+15) {
  background-color: white;
}

.checkerboard .square:nth-child(16n+10),
.checkerboard .square:nth-child(16n+12),
.checkerboard .square:nth-child(16n+14),
.checkerboard .square:nth-child(16n+16) {
  background-color: black;
}
